
/* timer */
#timerDisplay {
    font-size: 2.5rem;
}

#muteBtn {
    margin: 0.5rem;
    background: #a06be3;
    border: 2px solid #a06be3;
}
#muteBtn:hover {
    margin: 0.5rem;
    background: #170e1f;
    border: 2px solid #a06be3;
}

.widget button {
    margin: 0.5rem;
    background: #a06be3;
    border: 2px solid #a06be3;
}

.widget button:hover  {
    margin: 0.5rem;
    background: #170e1f;
    border: 2px solid #a06be3;
}

/* display styles */
.widget {
    background-color: #170e1f;
    color: #a06be3;
    padding: 1rem;
    border: 10px #332946 solid;
    text-align: center;
    max-width:fit-content;
    border-radius: 1rem;
}

/* video background */

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -99;
}
.video-backround::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.75)
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
}
